@font-face {
    font-family: AntipastoPro;
    src: url('AntipastoPro-Medium_trial.ttf');
}

.canvas {
    border: black;
    border-style: solid;
    border-width: 2px;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.gridSquare {
    width: calc(800px/16);
    height: calc(800px/16);

    border: rgba(126, 126, 126, 0.308) solid 1px;
    box-sizing: border-box;
    background-color: white;
}

.blacked {
    background-color: black;
    color: white;
    border: solid 1px white;
}

.removed {
    border: white 0px;
}

html {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
    padding-top: 30px;
    font-size: 50px;
    font-family: AntipastoPro;
}

.options {
    margin-left: 40px;
    margin-top: 2px;
    margin-right: 40px;
}

.content {
    display: flex;
    justify-content: center;
}

body {
    margin: 0px;
}

.clear {
    margin-top: 10px;
}

.gridSize {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.colorPicker {
    width:190px;
    height: 40px;
    margin-bottom: 10px;
}

.eraser,
.draw,
.gridLines,
.clear,
.rainbow
 {
    border: solid 1px black;
    padding: 10px 25px;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
    transition: 0.24s ease-in-out;
}

.hover:hover {
    background-color: lightgrey;
    transform: scale(1.02);
}

/* .eraser:hover,
.draw:hover,
.gridLines:hover,
.clear:hover,
.colorPicker:hover,
.rainbow:hover {
    background-color: lightgrey;
    transform: scale(1.02);
} */
