.canvas {
    border: black;
    border-style: solid;
    border-width: 2px;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.gridSquare {
    width: calc(800px/16);
    height: calc(800px/16);

    border: rgba(126, 126, 126, 0.308) solid 1px;
    box-sizing: border-box;
    background-color: white;
}

.blacked {
    background-color: black;
    color: white;
    border: solid 1px white;
}

.removed {
    border: white 0px;
}

html {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
    padding-top: 30px;
    font-size: 50px;
}

.options {
    margin-left: 40px;
    margin-top: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
}

body {
    margin: 0px;
}

.clear {
margin-top: 250px;
}

.gridSize {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.eraser,
.draw,
.gridLines,
.clear,
.color {
    border: solid 1px black;
    padding: 10px 25px;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

.eraser:hover,
.draw:hover,
.gridLines:hover,
.clear:hover,
.color:hover {
    background-color: lightgrey;
}
